<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="OIMNTFS_Service.Properties.Settings.OIMNTFSConnectionString"
            connectionString="Data Source=10.112.133.87;Initial Catalog=OIMNTFS;User ID=oimntfsdbo;Password=bbGcmcZlkL8FYnsCN4j4;Connect Timeout=30;Encrypt=False;TrustServerCertificate=False"
            providerName="System.Data.SqlClient" />
        <add name="OIMNTFS_Service.Properties.Settings.OIMNTFSConnectionString1"
            connectionString="Data Source=(localdb)\MSSQLLocalDB;Initial Catalog=OIMNTFS;Integrated Security=True;Connect Timeout=30;Encrypt=False;TrustServerCertificate=False"
            providerName="System.Data.SqlClient" />
        <add name="OIMNTFS_Service.Properties.Settings.OIMNTFSConnectionStringLocal"
            connectionString="Data Source=(localdb)\MSSQLLocalDB;Initial Catalog=OIMNTFS;Persist Security Info=True;User ID=oimntfsdbo;Password=bbGcmcZlkL8FYnsCN4j4"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
</configuration>